<div class="text-center">
  <h3>Goditi la tua partita!</h3>
  <p>Punteggio Attuale: Squadra A {{ teamAScore }} - {{ teamBScore }} Squadra B</p>
  <button (click)="goalTeamA()" class="btn btn-primary me-2">Segna Squadra A</button>
  <button (click)="goalTeamB()" class="btn btn-success">Segna Squadra B</button>
  <div class="mt-3">
    <button (click)="endGame()" class="btn btn-danger">Termina partita</button>
  </div>
</div>

<!-- Mostra i due client fianco a fianco -->
<div class="row mt-4">
  <div class="col">
    <app-client-pareggio></app-client-pareggio>
  </div>
  <div class="col">
    <app-client-goal></app-client-goal>
  </div>
</div>